<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>add</title>
</head>
<body>

	

	<form action="/deleteData" method="GET">
		
		Name:<input type="text" name="name">
		Rollno:<input type="text" name="rollno">
		department:<input type="text" name="dept">
		<input type = "submit" value = "Submit">
		
	</form>

</body>
</html>


<body>
			<h2>delete page</h2>

			<form action ="/deleteData" method="GET" >
				Name:<input type="text" name="name">
				<input type="submit" name="Submit">
			</form>

</body>